*{margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    max-height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;    
}
body{
background: linear-gradient(to bottom,#553739,#955E42);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
    }    
nav{
text-align: center;
background-color:#503B31
}
nav ul {
display:inline-flex;
font-size: 30px;
text-align: center;
text-decoration: none;
list-style: none;
}
nav ul li{
color: rgb(237, 239, 241);
padding:15px;
margin: 15px;
width: 200px;
max-height: 80px;
}
nav ul li a{color:#d3cece}
li :hover{
color: #FF7033;
/* background-color:#856a5e; */
}    
img{
    position: relative;
    top: 150px;
    left:75px;
}
h2{
    float: right;
    position: relative;
    font-size: 68px;
    right:675px;
    top: 200px;
}
h2 span{
    color:orange
}
h3{float: right;
    position: relative;
    font-size: 50px;
    right: 95px;
    top: 280px;}   
p{
    position: relative;
    font-size: 30px;
    line-height: 40px;
    bottom: 220px;
    left: 980px;
    width: 900px;
}       
.btn{
    position: relative;
    font-size: 30px;
    left: 980px;
    bottom: 200px;
    padding:10px 26px;
    border:0px solid ;
    border-radius: 10px; 
    color:#f8f7f7;
    background-color: rgb(251, 165, 5);
}
.btn:hover{background-color: #503B31;
    color:rgb(251, 165, 5);
}