*{margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    max-height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;    
}
body{
background: linear-gradient(to bottom,#553739,#955E42);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height:100%;
width: 100%;
}    
nav{
text-align: center;
background-color:#503B31
}
nav ul {
display:inline-flex;
font-size: 30px;
text-align: center;
text-decoration: none;
list-style: none;
}
nav ul li{
color: rgb(255, 239, 241);
padding:15px;
margin: 15px;
width: 200px;
max-height: 80px;
}
nav ul li a{color:rgb(255, 253, 253);}
li :hover{
color: #FF7033;
/* background-color:#856a5e; */
}
#h3{
    color: rgb(193, 211, 0);
    text-align: center;
    position: relative;
    top: 80px;
}
#h1 span{ color:rgb(238, 156, 3)}
#h1 { font-size: 50px;
    text-align: center;
    position: relative;
    top:100px;
}
#img1{
    position: relative;
    top: 175px;
    left: 400px
}
#img2{
    position: relative;
    top: 175px;
    left: 600px
}
#img3{
    position: relative;
    top: 525px;
    left: 100px
}
#img4{
    position: relative;
    top: 225px;
    left: 400px
}